.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--grey);
  border-radius: var(--m);
  transition: 0.3s;
  margin: 10px;
}
.image {
  border-radius: var(--m) var(--m) 0 0;
}
.body {
  padding: var(--m);
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding-bottom: var(--s);
}
.cardh2 {
  font-size: var(--m);
  margin: 0;
}
.content {
  font-size: 14px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0 0 var(--l) var(--l);
  align-items: flex-end;
}
.prize {
  font-size: var(--l);
  font-weight: 500;
}
.button {
  padding: var(--s) var(--m);
  border-radius: var(--l);
  background-color: var(--primary);
  color: var(--white);
  font-size: var(--m);
  cursor: pointer;
  transition: 0.3s;
  border: none; /* Remove border */
}
.button:hover {
  background-color: var(--darkgrey);
}
