@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.NavBar-container {
  display: flex;
  padding: var(--m) var(--l);
  background-color: var(--primary);
}

.NavBar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.NavBar-title {
  color: var(--Black);
  font-family: "Do Hyeon", sans-serif;
  font-size: 40px;
  text-decoration: none;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--Black);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
  color: black;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.NavBar-profile {
  margin-left: auto;
  padding-right: var(--xs);
}
