.SearchBar {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  border-radius: 28px;
  background-color: var(--medgrey);
  border: 1px solid var(--medgrey);
}

.NewPostInput-input,
.NewPostInput-button,
.NewPostInput-filter {
  font-family: "Funnel Sans";
  font-size: var(--m);
  padding: var(--s) var(--m);
  height: 56px; /* Ensure same height */
  border: none; /* Remove border */
  background-color: var(--medgrey); /* Set grey background color */
}

.NewPostInput-input {
  flex-grow: 1;
  font-family: "Funnel Sans";
  font-size: var(--m);
  padding: var(--s) var(--m);
  height: 56px;
  border: none;
  background-color: var(--medgrey);
  z-index: 1;
}

.NewPostInput-button,
.NewPostInput-filter {
  font-family: "Funnel Sans";
  font-size: var(--m);
  padding: var(--s) var(--m);
  height: 56px;
  border: none;
  background-color: var(--medgrey);
  color: var(--black);
  cursor: pointer;
  transition: all 0.3s;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewPostInput-filter {
  border-radius: 28px 0 0 28px;
}

.NewPostInput-button {
  border-radius: 0 28px 28px 0;
}

.NewPostInput-button:hover,
.NewPostInput-filter:hover {
  background-color: var(--primary);
  color: var(--white);
}

.NewPostInput-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary);
}
