.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: var(--xs) 0; /* Reduced margins since it's in a fixed container */
}

.pagination {
  width: 70%;
  display: flex;
  height: 4rem;

  align-content: center;
  align-items: center;
  list-style: none;
  gap: var(--xs);
  border-radius: 2rem;
  /* border: 1px solid var(--darkgrey); */
  background-color: var(--grey);
}

.pagination-xsmall {
  width: 16rem;
}

.pagination-small {
  width: 20rem;
}

.pagination-medium {
  width: 24rem;
}

.pagination-large {
  width: 28rem;
}

.page-item {
  display: inline-block;
}

.page-link {
  height: 2 * var(--l);
  padding: var(--s) var(--m);
  border: 1px solid var(--darkgrey);
  background: var(--white);
  color: var(--primary);
  cursor: pointer;
  border-radius: var(--l);
  transition: all 0.3s;
}

.page-item.active .page-link {
  background: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

.page-item.disabled .page-link {
  background: var(--medgrey);
  cursor: not-allowed;
  color: var(--darkgrey);
  border-color: var(--medgrey);
}

.page-item.disabled span.page-link {
  border: none;
  background: none;
  padding: var(--s) var(--xs);
}

.page-link:hover:not(:disabled) {
  background: var(--primary);
  color: var(--white);
}
